.Game {
  position: relative;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow: hidden;
}

.Game > canvas {
  position: absolute;
  bottom: 0;
  left: 50%;
  /* outline: 8px dashed rgba(0, 0, 0, 0.2); */
  transform-origin: center bottom;
  transform: translate3d(-50%, 0, 0) scale3d(0.5, 0.5, 1);
}

.Game__debug > canvas {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  transform-origin: top right;
  transform: scale3d(0.4, 0.4, 1);
  pointer-events: none;
  opacity: 0.5;
}

.Game__background {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 2000px;
  height: 2000px;
  transform: translate(-1000px, 600px);
  background-image: url('./background.svg');
  background-repeat: no-repeat;
  background-size: 2000px 2000px;
  background-position: center center;
  animation-name: scan;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}



.Game__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 50ms ease-in-out;
}

.Game__overlay--white {
  background-color: rgba(255, 255, 255, 1);
}




.Game__score {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-size: 40px;
}




@keyframes scan {
  0% {
    transform: translate3d(-1000px, 0, 0)
  }
  100% {
    transform: translate3d(-1000px, 600px, 0)
  }
}
